ul#ul-noticias-do-dia li {
    padding-top: 10px; /*Adiciona espaçamento entre os itens da lista não ordenada*/
}
#footer {
    text-align: center;
    color: rgba(0, 0, 0, 0.376);
    margin-top: 50px;
}